@font-face {
    font-family: 'Now';
    src: url('../fonts/now.thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
  font-family: 'Now';
  src: url('../fonts/now.light.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Now';
  src: url('../fonts/now.regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Now';
  src: url('../fonts/now.medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Now';
  src: url('../fonts/now.bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Now';
  src: url('../fonts/now.black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

/* Root Variables */
:root {
  --main-dark-color: #0f185cef;
  --main-light-color: rgb(245, 245, 245);
  --main-text-dark-color: #111111f2;
  --main-text-light-color: rgba(255, 255, 255, 0.904);
  --video-overlay-color: #050818;
  --secondary-color: #0652E9;
  --main-button-color: #0652e9;
  --main-button-hover-color: #0a3bb7;
  --main-button-text-color: rgb(245, 245, 245);
}

/* Main Elements */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Now', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  font-size: 26px;
  color: var(--main-dark-color);
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  background-color: var(--main-light-color);
  min-height: 400vh;
}

main {
  display: block;
  width: 100%;
  height: 100%;
}
main video#bgvid {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -100;
}
main #video-overlay {
    width: 100%;
    height: 100%;
    background-color: var(--video-overlay-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -90;
    transition: all 2s ease-in-out 1s;
    opacity: 1;
}

section {    
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section h2 {
    text-align: center;
    color: var(--main-text-dark-color);
    display: block;
    padding: 20px 20px;
    font-size: 2.3rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    z-index: 100;
}

/* Header */
header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 100;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

/* Hero Section*/
#hero {
  background-color: transparent;
}
#hero img {
  max-width: 800px;
  width: 100%;
  opacity: 0;
  transition: all 1.5s ease-in-out 0.3s;
}

/* Mission Section */
#mission {
    padding: 40px 20px;
    background-color: var(--main-light-color);
}
#mission h2 {
    text-align: center;
    color: var(--main-text-dark-color);
    display: block;
    padding: 20px 20px;
    font-size: 2.3rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    z-index: 100;
}
#mission > p {
    text-align: center;
    color: var(--main-text-dark-color);
    display: block;
    padding: 20px 20px;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    z-index: 100;
    max-width: 1300px;
    line-height: 1.5;
}
#mission h2:nth-of-type(2) {
    color:var(--secondary-color);
    font-size: 2.7rem;
}
#mission-container {
    color: var(--main-text-dark-color);
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1300px;
}
#mission .card {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    font-size: 1rem;
}
#mission .card h3 {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    margin-bottom: 20px;
    text-align: center;
}
#mission .card img {
    width: 100%;
    max-width: 100px;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}
#mission .card p {
    text-align: center;
    font-weight: 400;
    font-size: .8rem;
    margin-bottom: 40px;
    line-height: 1.5;
}

/* Beyond Section */
#beyond {
    padding: 40px 20px;
    background-color: var(--main-light-color);
    /*background-image: url('../images/beyond-choices.svg');
    background-size: 900px;
    background-position: left;
    background-repeat: no-repeat; */
}
#beyond h2 {
    margin-bottom: 50px;
}
#beyond-container {
    width: 100%;
    max-width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
img#beyond-choices-image {
    flex-grow: .7;
    min-width: 200px;
    max-width: 900px;
    position: relative;
    z-index: 0;
}
#beyond-text {
    max-width: 900px;
    padding: 20px;
    position: relative;
    z-index: 100;
    color: var(--main-text-dark-color);
}
.beyond-checkmark {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
    position: relative;
    top: -2px;
}
#beyond-text ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
#beyond-text ul li {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 1.5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}


/* Services Section */
#services {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
}
#services-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../images/services-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -10;
    /* filter: contrast(0.9) saturate(10) invert(1);  */
}
#services h2 {
    color: white;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    z-index: 100;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
    transition: all 1s ease-in-out;
}
#services h2:hover {
    transform: translateY(-3px) translateX(-3px) scale(1.02);
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 1);
}
#services-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
#services-container .service {
    width: 100%;
    max-width: 700px;
    padding: 30px;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.08em;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    margin: 20px;
}
#services-container .service h3 {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    z-index: 100;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
    transition: all 1s ease-in-out;
}
#services-container .service h3:hover {
    transform: translateY(-3px) translateX(-3px) scale(1.02);
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 1);
}
#services-container .service p {
    margin-bottom: 20px;
}

/* Footer */
footer {
  width: 100%;
  height: 100px;
  margin-top: auto;
}

.blue-text {
  color: var(--secondary-color);
}

/* Media Queries */

@media only screen and (max-width: 610px) {
    #beyond-text ul li{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 1000px) {
}
